.home-container {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 80% 20%;
  height: 100vh;
  width: 100vw;
}

.map-section {
  grid-column: 1;
  grid-row: 1;
}

.controls-section {
  grid-column: 1;
  grid-row: 2;
  padding: 1rem;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
}

.data-section {
  grid-column: 2;
  grid-row: 1 / span 2;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #f9f9f9;
  border-left: 1px solid #ddd;
  overflow-y: auto;
}
.admin-button {
  margin-top: 40px;
}
